@import "../src/styles/variables";

.form{
  background: $section-bg-color;
 padding: 120px 0;
  &__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    width: 100%;
    max-width: 608px;
    text-align: center;
    letter-spacing: 0.005em;
    color: #9A9AB0;
    margin-bottom: 40px;
  }

  &__box{
    background: #FFFFFF;
    max-width: 1230px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 94px 0 80px 0;
    border-radius: 10px;
  }
}
