@import "../src/styles/variables";
.title{
  color: $title-fontcolor;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.005em;
  margin-bottom: 56px;
}
